* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6f8aff;
}

.padCell {
    border: 1px solid #adadad;
    background-color: #a2a2a2;
}

.padCellBlk {
    border: 0.5px solid black;
    background-color: black;
}

.padOuterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 950px;
    width: 1200px;

    border: 1px solid #c1000d;
    background-color: #c1000d;
    border-radius: 10%;
}

.padTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding-bottom: 0px;

    color: gold;
    filter: drop-shadow(1px 1px 2px #000);
}

.padEAS {
    font-size: 40px;
}

.padMagic,
.padScreen {
    margin: 50px 0;
    font-size: 20px;
}

.padInnerContainer {
    display: grid;

    height: 600px;
    width: 800px;

    background-color: white;
    border: 1px solid black;
}

.padButtonLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 25px;
    color: gold;
    filter: drop-shadow(1px 1px 2px #000);
}

.padButtons {
    display: flex;
    margin: 20px 0;
    gap: 700px;
}

.padButtonReset,
.padButtonRainbow {
    display: flex;
    padding: 50px 50px;
    border-radius: 100%;

    font-size: 24px;
    filter: drop-shadow(1px 1px 2px #000);
}